<nav class="navbar fixed-top cl-blue-navbar">
  <div class="container-fluid">
    <div class="float-left">
      <a routerLink="/user/{{userId}}/house" class="navbar-link cl-text-white">
        <span class="fas fa-chevron-left"></span>
      </a>
      <a class="cl-text-white navbar-brand cl-text-bold" routerLink="./">
        House Detail
      </a>
    </div>

  </div>
</nav>

<div class="thumbnail img-fluid">
  <img src="{{house.url}}" style="max-width: 90%; height: auto">
  <div class="caption">
    <h4>{{house.name}}</h4>
    <h4>{{house.price}}</h4>
    <h3>{{house.description}}</h3>
  </div>
  <p>
    <a routerLink="/user/{{userId}}/house/{{houseId}}" class="btn btn-primary" *ngIf="house.owner === user">Edit</a>
  </p>
  <a routerLink="/user/{{userId}}/house/{{houseId}}/comment/new" class="btn btn-primary">Add Comment</a>
  <app-comments-list></app-comments-list>
</div>

<nav class="navbar fixed-bottom cl-blue-navbar">
  <div class="container-fuild">
    <a routerLink="/user/{{userId}}" class="navbar-link float-right cl-text-white cl-icon-padding">
      <span class="fas fa-user"></span>
    </a>
  </div>
</nav>
